<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/headAdmin :: head">
</head>
<div th:replace="/admin/headAdmin :: body"></div>
<!-- //header-ends -->
<!-- main content start-->
<div id="page-wrapper">
	<!-- <div class="main-page"> -->
	<div>
		<form th:action="@{/adminPage/productDetail/filter}"
			class="form-horizontal" method="GET" th:object="${searchDto}">
			<input type="text" name="" hidden="true">
			<div class="form-group">
				<label for="selector1" class="col-sm-1 control-label">Thương
					hiệu</label>
				<div class="col-sm-2" style="margin-top: 10px">
					<select th:field="*{brandId}" name="brandId" id="brand"
						style="width: 150px">
						<option th:value="'0'"></option>
						<option th:each="brand:${listBrand}" th:value="${brand.brandId}"
							th:text="${brand.brandName}"></option>
					</select>
				</div>
				<label for="selector1" class="col-sm-1 control-label">Sản
					phẩm</label>
				<div class="col-sm-2" style="margin-top: 10px">
					<select th:field="*{productId}" name="productId" id="product"
						style="width: 150px">
						<option th:value="'0 0 0'"></option>
						<option th:each="product : ${listProduct}"
							th:value="${product.brandInfo.brandId}+' 0 '+${product.productId}"
							th:text="${product.productName}"></option>
					</select>
				</div>
				<label for="selector1" class="col-sm-1 control-label">Màu</label>
				<div class="col-sm-2" style="margin-top: 10px">
					<select th:field="*{color}"
						style="width: 150px">
						<option th:value="''"></option>
						<option th:if="${dataFilter.listColor}"
							th:each="color: ${dataFilter.listColor}" th:value="${color}"
							th:text="${color}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="selector1" class="col-sm-1 control-label">Ram</label>
				<div class="col-sm-2" style="margin-top: 10px">
					<select th:field="*{ram}"
						style="width: 150px">
						<option th:value="''"></option>
						<option th:if="${dataFilter.listRam}"
							th:each="ram : ${dataFilter.listRam}" th:value="${ram}"
							th:text="${ram}"></option>
					</select>
				</div>
				<label for="selector1" class="col-sm-1 control-label">Bộ nhớ</label>
				<div class="col-sm-2" style="margin-top: 10px">
					<select th:field="*{internalMemory}"
						style="width: 150px">
						<option th:value="''"></option>
						<option th:if="${dataFilter.listInternalMemory}"
							th:each="internalMemory : ${dataFilter.listInternalMemory}"
							th:value="${internalMemory}" th:text="${internalMemory}"></option>
					</select>
				</div>
				<button style="margin-top: 10px; margin-left: 55px;" type="submit">Áp
					dụng</button>
			</div>
		</form>
		<form th:action="@{/adminPage/productDetail/search}" method="GET"
			style="margin-left: 75%; margin-top: -110px">
			<input type="search" name="keyWords" placeholder="Tên sản phẩm..."
				style="padding-right: 15px"><i class="fa fa-search"
				aria-hidden="true" style="margin-left: -18px"></i>
		</form>
	</div>

	<div style="margin-top: 85px">
		<a th:href="@{/adminPage/productDetail/create}"><button>Thêm
				mới</button></a>
		<a th:href="@{/adminPage/productDetail/importCsv}"><button>Import CSV</button></a>		
	</div>
	<form th:action="@{/adminPage/productDetail/export}" method="POST" th:object="${exProduct}">
	<div class="bs-example widget-shadow scrolltbl"
		data-example-id="hoverable-table">
		
			<table class="table table-hover" style="width: 400%;" id="mytable">
				<thead>
					<tr>
						<th>#</th>
						<th>Sản phẩm</th>
						<th>Màn hình</th>
						<th>Độ phân giải</th>
						<th>Hệ điều hành</th>
						<th>Camera trước</th>
						<th>Camera sau</th>
						<th>Chip xử lý</th>
						<th>Ram</th>
						<th>Bộ nhớ</th>
						<th>Sim</th>
						<th>Dung lượng pin</th>
						<th>Cổng kết nối/sạc</th>
						<th>Jack tai nghe</th>
						<th>Kết nối internet</th>
						<th>Wifi</th>
						<th>GPS</th>
						<th>Bluetooth</th>
						<th>Màu</th>
						<th>Ảnh tổng quan</th>
						<th>Mặt trước</th>
						<th>Mặt sau</th>
						<th>Khác</th>
						<th>Nhập kho</th>
						<th>Đã bán</th>
						<th>Hiện có</th>
						<th>Giá nhập</th>
						<th>Giá bán</th>
						<th>Đánh giá</th>
						<th>Ngày tạo</th>
						<th>Người tạo</th>
						<th>Ngày cập nhật</th>
						<th>Người cập nhật</th>
						<th>Cập nhật</th>
						<th>Xóa sản phẩm</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="productDetail,iterStat : *{listProductDetail}">
						<td th:text="${iterStat.count}"></td>
						<td th:text="${productDetail.productInfo.productName}" ></td>
						<td th:text="${productDetail.screen}"></td>
						<td th:text="${productDetail.resolution}"></td>
						<td th:text="${productDetail.operatingSystem}"></td>
						<td th:text="${productDetail.rearCamera}"></td>
						<td th:text="${productDetail.frontCamera}"></td>
						<td th:text="${productDetail.chips}"></td>
						<td th:text="${productDetail.ram}"></td>
						<td th:text="${productDetail.internalMemory}"></td>
						<td th:text="${productDetail.sim}"></td>
						<td th:text="${productDetail.rechargeableBatteries}"></td>
						<td th:text="${productDetail.connector}"></td>
						<td th:text="${productDetail.headphoneJack}"></td>
						<td th:text="${productDetail.mobileNetwork}"></td>
						<td th:text="${productDetail.wifi}"></td>
						<td th:text="${productDetail.gps}"></td>
						<td th:text="${productDetail.bluetooth}"></td>
						<td th:text="${productDetail.color}"></td>
						<td> <input hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].productDetailId}"
							type="text" />
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].productInfo.productId}"
							/>
							<input hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].screen}"
							type="text" />
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].resolution}"
							type="text" />
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].operatingSystem}"
							type="text" />
							<input type="text"
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].rearCamera}"
							 />
							 <input type="text"
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].frontCamera}"
							 />
							 <input type="text"
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].chips}"
							 />
							 <input type="text"
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].ram}"
							 />
							 <input type="text"
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].internalMemory}"
							 />
							 <input type="text"
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].sim}"
							 />
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].rechargeableBatteries}"
							type="text" />
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].connector}"
							type="text" />
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].headphoneJack}"
							type="text" />
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].mobileNetwork}"
							type="text" />
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].wifi}"
							type="text" />
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].gps}"
							type="text" />
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].bluetooth}"
							type="text" />
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].color}"
							type="text" />
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].quantityImport}"
							type="text" />
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].quantityExport}"
							type="text" />
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].prices}"
							type="text" />
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].pricesImport}"
							type="text" />
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].productDetailName}"
							type="text" th:value="${productDetail.productInfo.productName}"/>
							<input
							hidden="true"
							th:field="*{listProductDetail[__${iterStat.index}__].available}"
							type="text" th:value="${productDetail.quantityImport}-${productDetail.quantityExport}"/>
							
							<img style="width: 90px" th:src="@{${productDetail.imageOverviewUrl}}"></td>
						<td ><img style="width: 90px" th:src="@{${productDetail.imageUnderUrl}}"></td>
						<td ><img style="width: 90px" th:src="@{${productDetail.imageSideUrl}}"></td>
						<td ><img style="width: 90px" th:src="@{${productDetail.imageOtherUrl}}"></td>
						<td th:text="${productDetail.quantityImport}"></td>
						<td th:text="${productDetail.quantityExport}"></td>
						<td
							th:text="${productDetail.quantityImport}-${productDetail.quantityExport}"></td>
						<td th:text="${productDetail.prices}"></td>
						<td th:text="${productDetail.pricesImport}"></td>
						<td th:text="${productDetail.vote}"></td>
						<td th:text="${productDetail.createdDate}"></td>
						<td th:text="${productDetail.createdBy}"></td>
						<td th:text="${productDetail.updatedDate}"></td>
						<td th:text="${productDetail.updatedBy}"></td>
						<td><a
							th:href="@{/adminPage/productDetail/update(productDetailId=${productDetail.productDetailId})}"
							style="margin-left: 50%"><i class="fa fa-pencil"
								aria-hidden="true"></i></a></td>
						<td><a
							th:href="@{/adminPage/productDetail/delete(productDetailId=${productDetail.productDetailId})}"
							onclick="return confirm('Sản phẩm sẽ được xóa khỏi hệ thống?');"
							style="margin-left: 50%"><i class="fa fa-trash-o"
								aria-hidden="true"></i></a></td>
					</tr>

				</tbody>
			</table>       
	</div>
	<button type="submit" style="margin-left: 75%; height: 35px; margin-top: 15px;">Output CSV</button>
	</form>
	<!-- </div> -->
</div>
<!--footer-->
<div class="footer">
	<p>&copy; 2021 H3Phone Store</p>
</div>
<!--//footer-->
<script>
	$(document)
			.ready(
					function() {
						$("#brand")
								.on(
										"change",
										function() {
											var value = $(this).val()
													.toLowerCase();
											
	document.getElementById('product')
													.getElementsByTagName(
															'option')[0].selected = 'selected'

											$("#product option")
													.filter(
															function() {
																$(this)
																		.toggle(
																				$(
																						this)
																						.val()
																						.toLowerCase()
																						.indexOf(
																								value) > -1);
																

															});
										});
					});
</script>

<!-- side nav js -->
<script th:src="@{/admin/js/SidebarNav.min.js}" type='text/javascript'></script>
<script>
	$('.sidebar-menu').SidebarNav()
</script>
<!-- //side nav js -->

<!-- Classie -->
<!-- for toggle left push menu script -->
<script th:src="@{/admin/js/classie.js}"></script>

<!-- //Classie -->
<!-- //for toggle left push menu script -->

<!--scrolling js-->
<script th:src="@{/admin/js/jquery.nicescroll.js}"></script>
<script th:src="@{/admin/js/scripts.js}"></script>
<!--//scrolling js-->

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/admin/js/bootstrap.js}">
	
</script>

</body>
</html>