<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/headAdmin :: head">
</head>
<div th:replace="/admin/headAdmin :: body"></div>
<!-- //header-ends -->
<!-- main content start-->
<div id="page-wrapper">
	<!-- <div class="main-page"> -->

	<div class="row">
		<h3 class="title1">Người dùng :</h3>
		<div class="form-three widget-shadow">
			<form th:action="@{/adminPage/user/update}" method="POST"
				th:object="${userUpdate}" class="form-horizontal">
				<input type="text" hidden="true" th:field="*{userId}">
				<div class="form-group">
					<label for="selector1" class="col-sm-2 control-label">Quyền
						truy cập</label>
					<div class="col-sm-8">
						<select th:field="*{roleInfo.roleId}"
							style="border: 1px solid #ccc; height: 40px; width: 160px;">
							<option th:each="role: ${listRole}" th:value="${role.roleId}"
								th:text="${role.roleName}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="selector1" class="col-sm-2 control-label">Tên
						đăng nhập</label>
					<div class="col-sm-8">
						<input th:field="*{userName}" type="text" class="form-control1"
							placeholder="Tên đăng nhập">
					</div>
				</div>
				<div class="form-group">
					<label for="selector1" class="col-sm-2 control-label">Đổi mật khẩu</label>
					<div class="col-sm-8">
						<input style="width: 20px;height: 20px" type="checkbox" class="form-control1"
							id="check">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Mật khẩu</label>
					<div class="col-sm-8">
					 <input th:disabled="true" type="password" class="form-control"
						name="password"
						title="Tối thiểu 8 ký tự bao gồm chữ cái in hoa, chữ thường và số"
						pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*"
						placeholder="Mật khẩu" id="password1" required />
					<p class="validation01">
						<span class="invalid">Tối thiểu 8 ký tự bao gồm chữ cái in
							hoa, chữ thường và số</span>

					</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Xác nhận mật khẩu</label>
					<div class="col-sm-8">
					 <input th:disabled="true" type="password"
						class="form-control" name="password"
						title="Tối thiểu 8 ký tự bao gồm chữ cái in hoa, chữ thường và số"
						pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*"
						placeholder="Xác nhận mật khẩu" id="password2" required
						th:field="*{passWords}" />
					<p class="validation01">
						<span class="invalid">Tối thiểu 8 ký tự bao gồm chữ cái in
							hoa, chữ thường và số</span>

					</p>
					</div>
				</div>
				<div class="form-group">
					<label for="focusedinput" class="col-sm-2 control-label">Họ
						và tên</label>
					<div class="col-sm-8">
						<input th:field="*{fullName}" type="text" class="form-control1"
							placeholder="Họ và tên">
					</div>

				</div>
				<div class="form-group">
					<label for="focusedinput" class="col-sm-2 control-label">Số
						điện thoại</label>
					<div class="col-sm-8">
						<input th:field="*{phoneNumbers}" type="text"
							class="form-control1" placeholder="Số điện thoại">
					</div>

				</div>
				<div class="form-group">
					<label for="focusedinput" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-8">
						<input th:field="*{email}" type="text" class="form-control1"
							placeholder="Email">
					</div>

				</div>
				<div class="form-group">
					<label for="focusedinput" class="col-sm-2 control-label">Địa
						chỉ</label>
					<div class="col-sm-8">
						<input th:field="*{address}" type="text" class="form-control1"
							placeholder="Địa chỉ">
					</div>

				</div>

				<button type="submit" class="btn btn-default">Cập nhật</button>
			</form>
		</div>
	</div>
	<!-- </div> -->
</div>
<!--footer-->
<div class="footer">
	<p>&copy; 2021 H3Phone Store</p>
</div>
<!--//footer-->
<script type="text/javascript">
	window.onload = function() {
		document.getElementById("password1").onchange = validatePassword;
		document.getElementById("password2").onchange = validatePassword;
	}
	function validatePassword() {
		var pass2 = document.getElementById("password2").value;
		var pass1 = document.getElementById("password1").value;
		if (pass1 != pass2)
			document.getElementById("password2").setCustomValidity(
					"Mật khẩu không khớp");
		else
			document.getElementById("password2").setCustomValidity('');

	}
</script>
<script type="text/javascript">
document.getElementById('check').onchange = function() {
    document.getElementById('password1').disabled = !this.checked;
    document.getElementById('password2').disabled = !this.checked;
};
</script>
<!-- side nav js -->
<script th:src="@{/admin/js/SidebarNav.min.js}" type='text/javascript'></script>
<script>
	$('.sidebar-menu').SidebarNav()
</script>
<!-- //side nav js -->

<!-- Classie -->
<!-- for toggle left push menu script -->
<script th:src="@{/admin/js/classie.js}"></script>

<!-- //Classie -->
<!-- //for toggle left push menu script -->

<!--scrolling js-->
<script th:src="@{/admin/js/jquery.nicescroll.js}"></script>
<script th:src="@{/admin/js/scripts.js}"></script>
<!--//scrolling js-->

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/admin/js/bootstrap.js}">
	
</script>

</body>
</html>